<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinaventure.webspider.mapper.XsbHxCashFlowStatementMapper">
  <resultMap id="BaseResultMap" type="com.chinaventure.webspider.model.XsbHxCashFlowStatement">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ent_id" jdbcType="INTEGER" property="entId" />
    <result column="report_date" jdbcType="DATE" property="reportDate" />
    <result column="selling_providing_labor_received_cash" jdbcType="DECIMAL" property="sellingProvidingLaborReceivedCash" />
    <result column="receiving_tax_return" jdbcType="DECIMAL" property="receivingTaxReturn" />
    <result column="pay_taxes" jdbcType="DECIMAL" property="payTaxes" />
    <result column="paid_worker_cash" jdbcType="DECIMAL" property="paidWorkerCash" />
    <result column="operating_cash_flows" jdbcType="DECIMAL" property="operatingCashFlows" />
    <result column="operating_cash_outflows" jdbcType="DECIMAL" property="operatingCashOutflows" />
    <result column="net_operating_cash_flow" jdbcType="DECIMAL" property="netOperatingCashFlow" />
    <result column="fixed_intangible_assets_cash" jdbcType="DECIMAL" property="fixedIntangibleAssetsCash" />
    <result column="fixed_or_other_assets_cash" jdbcType="DECIMAL" property="fixedOrOtherAssetsCash" />
    <result column="investment_cash_inflows" jdbcType="DECIMAL" property="investmentCashInflows" />
    <result column="investment_cash_outflows" jdbcType="DECIMAL" property="investmentCashOutflows" />
    <result column="investment_net_cash_flow" jdbcType="DECIMAL" property="investmentNetCashFlow" />
    <result column="absorb_investment_receive_cash" jdbcType="DECIMAL" property="absorbInvestmentReceiveCash" />
    <result column="borrow_money_cash" jdbcType="DECIMAL" property="borrowMoneyCash" />
    <result column="other_and_raise_cash" jdbcType="DECIMAL" property="otherAndRaiseCash" />
    <result column="repayment_debt_pay_cash" jdbcType="DECIMAL" property="repaymentDebtPayCash" />
    <result column="distribution_dividends_profits_or_interest_payments_cash" jdbcType="DECIMAL" property="distributionDividendsProfitsOrInterestPaymentsCash" />
    <result column="payment_and_other_financing_cash" jdbcType="DECIMAL" property="paymentAndOtherFinancingCash" />
    <result column="raise_cash_inflows" jdbcType="DECIMAL" property="raiseCashInflows" />
    <result column="raise_cash_outflows" jdbcType="DECIMAL" property="raiseCashOutflows" />
    <result column="raise_net_cash_flow" jdbcType="DECIMAL" property="raiseNetCashFlow" />
    <result column="net_increase_cash_cash_equivalents" jdbcType="DECIMAL" property="netIncreaseCashCashEquivalents" />
  </resultMap>
</mapper>