<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinaventure.webspider.mapper.XsbThsInvestPrivatePlacementPlanCompletedMapper">
  <resultMap id="BaseResultMap" type="com.chinaventure.webspider.model.XsbThsInvestPrivatePlacementPlanCompleted">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="stock_code" jdbcType="INTEGER" property="stockCode" />
    <result column="ent_short_name" jdbcType="VARCHAR" property="entShortName" />
    <result column="report_date" jdbcType="DATE" property="reportDate" />
    <result column="issue_price" jdbcType="VARCHAR" property="issuePrice" />
    <result column="number_issued" jdbcType="VARCHAR" property="numberIssued" />
    <result column="raise_funds" jdbcType="VARCHAR" property="raiseFunds" />
    <result column="earnings_ratio" jdbcType="VARCHAR" property="earningsRatio" />
    <result column="premium_rate" jdbcType="VARCHAR" property="premiumRate" />
    <result column="issue_object" jdbcType="VARCHAR" property="issueObject" />
  </resultMap>
</mapper>